/*================================
            Global styling 
================================*/

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body {
    font-family: 'Poppins', sans-serif;

}

/*================================
        Header section styling 
================================*/
.navigation {
    background-color: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    font-size: 22px;
    line-height: 33px;
    font-weight: 700;
    color: #3E3E3E;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #3E3E3E;
}

.slide_img {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    max-height: 90vh !important;
}

.carousel-caption {
    top: 30%;
}

.slide_btn {
    color: #3F87F5;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

}

.primary_heading {
    font-weight: 800;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.50);
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .carousel-caption {
        top: 15%;
    }
}